@import '../bower_components/normalize.styl/normalize'

@import 'fonts'
@import 'colors'
@import 'functions'

// Main Styles and Mobile First

body
	background bg_body
	font-family 'Open Sans'
	font-size 16px

header
	background bg_header
	border-top 2px solid bg_header - 40
	color bg_card
	font-family 'museo300'
	height auto
	text-align left
	width 100%

	h1
		inlineBlock()
		font-size 1.3em
		line-height 3.5em
		text-align center

		&.movie-title
			line-height 1em
			margin-top .25em
			text-align left
			width 50%

#logo
	inlineBlock()
	padding 0 .5em 0 0
	margin .5em
	width 50px
	border-right 2px solid c_orange

	img
		width 100%

.search-bar
	background bg_body
	margin .5em
	text-align center

	input
		border 2px solid bg_body - 30
		border-radius 5px
		box-sizing boder-box
		color bg_body - 30
		height 40px
		outline 0
		padding 0 15px
		transition .3s color, .3s border-color
		width 80%

		&:focus
			border-color bg_body - 60
			color bg_body - 60
			outline-offset -2px


@import 'sections/movielist'
@import 'sections/moviedetail'

// Responsive Design Styles
@import 'responsive/responsive-tablet'
@import 'responsive/responsive-desktop'
