@media screen and (min-width: 748px)
  // Responsive styles for tablet size goes here
  article.list_item
    display inline-block
    vertical-align top
    width 40%

@media screen and (min-width: 1024px)
  article.list_item
    width 30%
